.inner_top {
    height: 80px;
    padding: 3rem;
    margin: 4rem;
    background-color: burlywood;
}

.inner_bottom {
    height: 80px;
    padding: 3rem;
    margin: 4rem;
    background-color: burlywood;
}    